{% extends 'base.html.twig' %}

{% block title %}Role Index
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap4.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/datatables/buttons.bootstrap4.min.css') }}">

{% endblock %}

{% block body %}
{% block preloader %}{% endblock %}

{% block navbar %}
	{{ include('fragments/_navbar.html.twig') }}
{% endblock %}

{% block main_sidebar %}
	{{ include("fragments/_main_sidebar.html.twig") }}
{% endblock %}

{% block content_wrapper %}
	{# {{include("fragments/_content_wrapper.html.twig")}} #}
	<!-- Main content -->
		<div class="content-wrapper"> <section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card  mt-2">
							<div class="card-header">
								<h3 id="rolelength" class="card-title">Datos Role ({{ roles|length }})</h3>
								<a id="crearrole" class="btn btn-primary float-right mr-3" href="{{ path('role_create') }}" role="button">Crear Role</a>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table id="tablerole" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>ID</th>
											<th>Nombre</th>
											<th>Nombre Rol</th>
											<th>Estatus</th>
                                            <th>Acción</th>
										</tr>
									</thead>

									<tfoot>
										<tr>
											<th>ID</th>
											<th>Nombre</th>
											<th>Nombre Rol</th>
                                            <th>Estatus</th>
											<th>Acción</th>
										</tr>
									</tfoot>
								</table>
							</div>
							<!-- /.card-body -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /.content -->
{% endblock %}

	{% block footer %}
		{{include("fragments/_footer.html.twig")}}
	{% endblock %}

	{% block javascripts %}
		<!-- dataTables -->
		{{parent()}}
		<script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
		<script src="{{ asset('js/datatables/dataTables.bootstrap4.min.js') }}"></script>
		<script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
		<script src="{{ asset('js/datatables/responsive.bootstrap4.min.js') }}"></script>
		<script src="{{ asset('js/datatables/dataTables.buttons.min.js') }}"></script>
		<script src="{{ asset('js/datatables/buttons.bootstrap4.min.js') }}"></script>
		<script src="{{ asset('js/datatables/jszip.min.js') }}"></script>
		<script src="{{ asset('js/datatables/pdfmake.min.js') }}"></script>
		<script src="{{ asset('js/datatables/vfs_fonts.js') }}"></script>
		<script src="{{ asset('js/datatables/buttons.html5.min.js') }}"></script>
		<script src="{{ asset('js/datatables/buttons.print.min.js') }}"></script>
		<script src="{{ asset('js/datatables/buttons.colVis.min.js') }}"></script>
		<script src="{{ asset('js/funciones/role.js') }}"></script>
	{% endblock %}
{% endblock %}
