<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}AdminLTE 3 | Dashboard
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
			<!-- Font Awesome -->
			{# <link rel="stylesheet" href="{{ asset('build/css/fontawesome.min.css') }}"> #}
			<link
			{# <link rel="stylesheet" href="{{asset('build/css/solid.min.css')}}"> #} rel="stylesheet" href="{{ asset('build/css/all.min.css') }}"> <!-- Ionicons -->
			<link
			rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
			<!-- Tempusdominus Bootstrap 4 -->
			<link
			rel="stylesheet" href="{{ asset('build/css/tempusdominus-bootstrap-4.min.css') }}">
			<!-- iCheck -->
			<link
			rel="stylesheet" href="{{ asset('build/css/icheck-bootstrap.min.css') }}">
			<!-- JQVMap -->
			<link
			rel="stylesheet" href="{{ asset('build/css/jqvmap.min.css') }}">
			<!-- Theme style -->
			<link
			rel="stylesheet" href="{{ asset('build/css/adminlte.min.css') }}">
			<!-- overlayScrollbars -->
			<link
			rel="stylesheet" href="{{ asset('build/css/OverlayScrollbars.min.css') }}">
			<!-- Daterange picker -->
			<link
			rel="stylesheet" href="{{ asset('build/css/daterangepicker.css') }}">
			<!-- summernote -->
			<link rel="stylesheet" href="{{ asset('build/css/summernote-bs4.min.css') }}">
		{% endblock %}


	</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		{% block body %}
			<div class="wrapper">
				{% block preloader %}
					<div class="preloader flex-column justify-content-center align-items-center">
						<img class="animation__shake" src="{{ asset('build/images/AdminLTELogo.png') }}" alt="AdminLTELogo" height="60" width="60">
					</div>
				{% endblock %}

				{% block navbar %}{% endblock %}

				{% block main_sidebar %}{% endblock %}

				{% block content_wrapper %}{% endblock %}

				{% block footer %}{% endblock %}
			</div>

			{% block javascripts %}
				{# {{ encore_entry_script_tags('app') }} #}
				<!-- jQuery --><script src="{{ asset('build/js/jquery.min.js') }}"> </script>
				<!-- jQuery UI 1.11.4 -->
				<script src="{{ asset('build/js/jquery-ui.min.js') }}"></script>
				<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
				<script>
					$.widget.bridge('uibutton', $.ui.button)
				</script>
				<!-- Bootstrap 4 -->
				<script src="{{ asset('build/js/bootstrap.bundle.min.js') }}"></script>
				<!-- ChartJS -->
				<script src="{{ asset('build/js/Chart.min.js') }}"></script>
				<!-- Sparkline -->
				<script src="{{ asset('build/js/sparkline.js') }}"></script>
				<!-- JQVMap -->
				<script src="{{ asset('build/js/jquery.vmap.min.js') }}"></script>
				<script src="{{ asset('build/js/jquery.vmap.usa.js') }}"></script>
				<!-- jQuery Knob Chart -->
				<script src="{{ asset('build/js/jquery.knob.min.js') }}"></script>
				<!-- daterangepicker -->
				<script src="{{ asset('build/js/moment.min.js') }}"></script>
				<script src="{{ asset('build/js/daterangepicker.js') }}"></script>
				<!-- Tempusdominus Bootstrap 4 -->
				<script src="{{ asset('build/js/tempusdominus-bootstrap-4.min.js') }}"></script>
				<!-- Summernote -->
				<script src="{{ asset('build/js/summernote-bs4.min.js') }}"></script>
				<!-- overlayScrollbars -->
				<script src="{{ asset('build/js/jquery.overlayScrollbars.min.js') }}"></script>
				<!-- AdminLTE App -->
				<script src="{{ asset('build/js/adminlte.js') }}"></script>
				<!-- AdminLTE for demo purposes -->
				<script src="{{ asset('build/js/demo.js') }}"></script>
				<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
				<script src="{{ asset('build/js/dashboard.js') }}"></script>

				{# <!-- dataTables -->
				<script src="{{ asset('build/js/datatables/jquery.dataTables.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/dataTables.bootstrap4.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/dataTables.responsive.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/responsive.bootstrap4.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/dataTables.buttons.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/buttons.bootstrap4.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/jszip.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/pdfmake.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/vfs_fonts.js') }}"></script>
				<script src="{{ asset('build/js/datatables/buttons.html5.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/buttons.print.min.js') }}"></script>
				<script src="{{ asset('build/js/datatables/buttons.colVis.min.js') }}"></script>
				<script>
					$(function () {
						$("#example1").DataTable({
						"responsive": true,
						"lengthChange": false,
						"autoWidth": false,
						"searching": true,
						"buttons": [
						"copy",
						"csv",
						"excel",
						"pdf",
						"print",
						"colvis"
						]
						}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

					});
				</script> #}
			{% endblock %}

		{% endblock %}
	</body>
</html>
